.arg-field{
    transition: all 2.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.arg-field:hover{
    border: 1px solid rgba(18, 127, 235, 0.15) !important;
    background:rgb(187, 221, 255)
}


.address-item{
    padding-right: 5em; 
}

/* #options-balancelabel,  #options-dropdownbutton {
    min-width: fit-content;
} */

 #options-dropdownbutton {
    min-width: 25%
}

#options-balancelabel{
    min-width: 18%
}

#options-accountlabel {
    width: -webkit-fill-available;
}

.optionrow {
    padding-top: 1em !important;
}

/* content in settings' tab content START */

.ui.tabular.menu+.bottom.attached.segment  {
    border: 0 !important;
    padding: 0 !important;
}

.ui.attached+.ui.attached.segment:not(.top){
    border: 0 !important;
}

.settingsTabsRow {
    padding-top: 1em !important;
}

/* content in settings' tab content END */

.overflow-truncator{
    flex: 1;
    min-width: 0; /* or some value */
    white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
  }

.truncated{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

/* compiled contract start */
.atAddressField {
   
    font-family: Courier New !important;
    padding-bottom: 0.5em !important;
}

/* compiled contract end */ 

/* error box start */
.errorbox {
width: auto;
margin: auto;
border: 0px solid grey;
display: flex;
}
.errorbox-icon,
.right {
display: flex;
flex-direction: column;
}
.errorbox-icon,
.right > div {
padding: 1em;
}
.errorbox-icon {
background: white;
}
.div2 {
background: white

}
.div3 {
background: #F8DDA4;
margin-left: 1em;
}

.sidebar-icon{
 color: rgba(0,0,0,.6);
 font-size: 4.6em;
 margin-top: 0.7em;
}
.code{
    background: lightgray
}
  /* error box end */

.generator-menu-button {
    right: 2em !important;
    position: absolute !important;
    right: 1em !important;
    min-width: fit-content;
}

/* deployed contracts start */
#deployedContractsLabel{
    margin-bottom: 0 !important;
    border-bottom: 0px;
    border-radius: .28571429rem .28571429rem 0 0;
    box-shadow: none !important;
    max-width: calc(100% + 2px) !important;
    left: -1px;
    position: relative;
    z-index: 1;
}

#deployedContractsDropdown{
    border-radius: 0 0 .28571429rem .28571429rem;
}

.deployedContractsWrapper{
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

.ui.ribbon.label {
    left: calc(-1rem - 1.2em - 1px);
}

#deployedContracts:hover{
    box-shadow: 0 4px 8px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.08)!important;
}

#deployedContracts{
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    transition: all 2.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    border: 1px solid white !important;
    border-radius: 0 0 .28571429rem .28571429rem;
}

/* Tooltipps ! */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .pointing.basic.label a {
    color: #D12754;
    text-decoration: underline;
  }



