.arg-field{
    transition: all 2.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.arg-field:hover{
    border: 1px solid rgba(18, 127, 235, 0.15) !important;
    background:rgb(187, 221, 255)
}


.address-item{
    padding-right: 5em; 
}

/* #options-balancelabel,  #options-dropdownbutton {
    min-width: fit-content;
} */

 #options-dropdownbutton {
    min-width: 25%
}

#options-balancelabel{
    min-width: 18%
}

#options-accountlabel {
    width: -webkit-fill-available;
}

.optionrow {
    padding-top: 1em !important;
}

/* content in settings' tab content START */

.ui.tabular.menu+.bottom.attached.segment  {
    border: 0 !important;
    padding: 0 !important;
}

.ui.attached+.ui.attached.segment:not(.top){
    border: 0 !important;
}

.settingsTabsRow {
    padding-top: 1em !important;
}

/* content in settings' tab content END */

.overflow-truncator{
    flex: 1;
    min-width: 0; /* or some value */
    white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
  }

.truncated{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

/* error box start */
.errorbox {
width: auto;
margin: auto;
border: 0px solid grey;
display: flex;
}
.errorbox-icon,
.right {
display: flex;
flex-direction: column;
}
.errorbox-icon,
.right > div {
padding: 1em;
}
.errorbox-icon {
background: white;
}
.div2 {
background: white

}
.div3 {
background: #F8DDA4;
margin-left: 1em;
}

.bug.icon{
 color: rgba(0,0,0,.6);
 font-size: 4.6em;
 margin-top: 0.7em;
}
.code{
    background: lightgray
}
  /* error box end */

.generator-menu-button {
    right: 2em !important;
    position: absolute !important;
    right: 1em !important;
    min-width: fit-content;
}

/* deployed contracts start */
#deployedContractsLabel{
    margin-bottom: 0 !important;
    border-bottom: 0px;
    border-radius: .28571429rem .28571429rem 0 0;
    box-shadow: none !important;
    max-width: calc(100% + 2px) !important;
    left: -1px;
    position: relative;
    z-index: 1;
}

#deployedContractsDropdown{
    border-radius: 0 0 .28571429rem .28571429rem;
}

.deployedContractsWrapper{
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15)
}

.ui.ribbon.label {
    left: calc(-1rem - 1.2em - 1px);
}

/* .ui.ribbon.label:after {
    left: -2px;
} */
/* deployed contracts end */
/* 
box-shadow: 5px 5px 15px 4px rgba(44,44,44);
    left: -1px;
    position:unset;
    z-index: 1; */