.field {
    margin-right: 5em !important;
    transition: all 2.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.field:hover {
    margin-right: 0em !important;
}


#skuInput{
    transition: all 2.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#skuInput:hover {
    border: 1px solid rgba(18, 127, 235, 0.15) !important;
    background:rgb(187, 221, 255)
}
