<sui-accordion-panel [isOpen]="open">
    <div title>
        <i class="dropdown icon"></i>
        <b>{{log.topic}}</b> :
    </div>
    <div content>
            <div class="errorbox"> 
                    <div *ngIf="log.type" class="errorbox-icon"> <i class="{{log.type == 'success'? 'check circle' : log.type=='log' ? 'info circle' : log.type == 'error' ? 'bug' : log.type == 'warn' ? 'exclamation triangle' : 'info circle'}} icon sidebar-icon"></i></div>
                    <div class="right">
                      <div class="div2" title> 

                        <div *ngFor="let key of logEntries">  
                            <!-- <br *ngIf="logEntries.length < 3">
                            <br *ngIf="logEntries.length < 3"> -->
                             
                            <!-- if it's just a string and not an object, just display it.... -->
                            <p *ngIf="pureData[key] ||  isArray[key]"> <b> {{key}} </b> : {{log.data[key] == undefined || log.data[key] == null ? '' : log.data[key] == [] ? '[]' : log.data[key]}}  </p> 
                            <!-- <p *ngIf="!log.data[key].__isObject__ || log.data[key].__isArray__"> <b> {{key}} </b> : {{log.data[key] == undefined || log.data[key] == null ? '' : log.data[key] == [] ? '[]' : log.data[key]}}  </p>  -->

                            <!-- If it's an object by itself, make a new dropdown -->
                            <p *ngIf="isAnObject[key]"> <b> {{key}} </b> : <app-one-log-child class="oneLogChild" [log]="{'data' : log.data[key], 'topic' : key}" [open]="false" ></app-one-log-child>  </p> 
                            
                        </div>
                                
                                
                      </div>
                      <!-- A second field for content down here -->
<!--                           <div class="div3" content>     Hint: Did you forget a  <span class="code">{{ '{' }}</span> , <span class="code">{{ '}' }}</span>  or <span class="code">{{ '=' }}</span>  nearby, or accidentally type a misplaced character? <i class="exclamation triangle icon"></i></div>
-->                        
                      </div>
                  </div> 
    </div>
</sui-accordion-panel>


<!-- differentiate between one-liner and object logs  -->
<!--  <p *ngIf="objectKeys(log.data[key]).length < 2"> <b>{{key}} </b> : {{objectKeys(log.data[key]).length > 0 ? (log.data[key] | json) : log.data[key]}}  </p> </div>
                                
<app-one-log *ngIf="objectKeys(log.data[key]).length < 2"
[log]="{{ '{' message:"here", data:log.data[key]'}' }}"
></app-one-log> -->