
<ng-template let-popup #popupTemplate>
  {{ popup.context.test }}
</ng-template>

<div class="can-toggle">
  <input [attr.disabled]="true" id="a" type="checkbox">
  <label for="a">
    <div (click)="compiler.walletExtensionPresent ? compiler.toggleProvider() : true" class="can-toggle__switch" data-checked="Mainnet" data-unchecked="Testnet"></div>
    <!-- <div class="can-toggle__label-text">.can-toggle</div> -->
  </label>

  

<!-- <ng-template let-popup #popupTemplate>
  <div>Loading...</div>
</ng-template> -->

<!-- <ng-template let-popup #popupTemplate>
  <div class="header">Rating</div>
  <div class="content">
      <sui-rating class="star" (click)="popup.close()"></sui-rating>
  </div>
</ng-template>
<button class="ui icon button" suiPopup [popupTemplate]="popupTemplate" popupTrigger="outsideClick">
  <i class="star icon"></i> Rate
</button> -->

