/* Contract Delete Dimmer/Modal */
.regularInfoText {
  font-weight: 400;
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  color: #1b1c1d;
  margin: 30px;
}

.returnData {
  overflow-wrap: break-word;
}
