
<sui-accordion-panel [isDisabled]="false" >
    <div title>
        <i class="dropdown icon" (click)="panelOpen = !panelOpen"></i>
        {{contract.aci.name}}
    </div>
    <div content>
            <div>
                <ng-container class="ui segment container" *ngFor="let oneFunction of contract.aci.functions">
                    <div class="ui segment container" *ngIf="oneFunction.name != 'init'">
                        <h4>{{oneFunction.name | replace : '_' : ' '}}</h4>

                        <!-- TODO: Add form control -->
                        <form class="ui form">
                            <div class="field" *ngFor="let arg of oneFunction.arguments; let i = index">
                                <input [(ngModel)]="contract.aci.functions[oneFunction.IDEindex].arguments[arg.IDEindex].currentInputData" (ngModelChange)="logTemp(contract.aci.functions[oneFunction.IDEindex].arguments[arg.IDEindex].currentInputData)" 
                                        name="{{oneFunction.name + '-' + arg.name}}"
                                        type="text"
                                        class="arg-field"
                                        id="{{oneFunction.name + '-' + arg.name}}"   
                                        placeholder="{{arg.type}}"
                                >
                            </div>
                        </form>
                        <br>
                        <app-loader *ngIf="contract.aci.functions[oneFunction.IDEindex].loading == true" ></app-loader>
                      
                        <!-- Contract function call button -->

                        <button 
                            [class.ui]="true"
                            [class.right]="!contract.aci.functions[oneFunction.IDEindex].payable && this.compiler.txAmountInAettos > 0" 
                            [class.labeled]="!contract.aci.functions[oneFunction.IDEindex].payable && this.compiler.txAmountInAettos > 0" 
                            [class.icon]="true"
                            [class.black]="true"
                            [class.button]="true"
                            [class.collapsedForIcon]="!contract.aci.functions[oneFunction.IDEindex].payable && this.compiler.txAmountInAettos == 0" 
                            [class.expandedForIcon]="!contract.aci.functions[oneFunction.IDEindex].payable && this.compiler.txAmountInAettos > 0" 
                            
                            class="ui right labeled icon black button contractCallButton" (click)="callFunction(oneFunction.name, oneFunction.IDEindex, contract.IDEindex)" [disabled]="">
                            
                            <p *ngIf="contract.aci.functions[oneFunction.IDEindex].stateful == false">Call Locally</p>
                            <p *ngIf="contract.aci.functions[oneFunction.IDEindex].stateful == true">Send Transaction</p>

                            <i *ngIf="!contract.aci.functions[oneFunction.IDEindex].payable && this.compiler.txAmountInAettos > 0" class="large yellow exclamation triangle icon"></i>
                        </button>
                        
                        <!-- Experimental Code generator start -->
                        <div id="options-dropdownbutton" class="generator-menu-button ui basic button dropdown "  suiDropdown>
                                <i class="magic icon"></i>
                                <div class="text">Code</div>
                                
                                <div class="menu" suiDropdownMenu>
                                    
                                
                                    <div class="item" (click)="callCodeFactory(contract.source, contract.aci.functions[oneFunction.IDEindex].name, contract.aci.functions[oneFunction.IDEindex])">
                                            
                                            <i class="computer icon"></i>
                                            <span style="color: grey">(currently under maintainance)</span></div>
                                </div>
                            </div>
                        <!-- Experimental code generator end -->

                        <h4 *ngIf="contract.aci.functions[oneFunction.IDEindex].lastReturnData" >Return value: {{contract.aci.functions[oneFunction.IDEindex].lastReturnData | json}}</h4> 
                    </div>
                </ng-container>
            </div>
    </div>
</sui-accordion-panel>
