.contractInLeftMenuWrapper{
    border-bottom-color: #303030;
    border-bottom-style: ridge;
    border-width: 1px;
    width: 100%;
    height: auto;
    overflow: hidden;
    background-position-x: -40px !important;
}

.ContractInLeftMenuRightButton {
    transition: all 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* .trash.icon {
    color: lightgreen;
    size: "40px";
} */

i{
    color: #1a1b1e;
    size: "40px";
    padding-left: 4px;
    margin-right: 0px;
}

.checkIcon{
  padding-left: 6px !important;
}

.iconwrapper {
    width: 50%;
    margin: auto;
}


a:hover{
    color: #FF2D55 !important
}

.contractInLeftMenuWrapper{
    
    background: rgb(131,58,180);
    background: linear-gradient(315deg, rgba(131,58,180,1) 0%, rgba(255,45,85,1) 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d3c14', endColorstr='#FF2D55', GradientType=1 );
}

/* loader start */

circle {
    fill: #ffffff00;
    stroke: black;
    stroke-width: 2;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
  
  @keyframes rotate {
    to {
      stroke-dashoffset: 0;
    }
  }

  circle:hover:active {
    animation: rotate 20s ease-in-out 3;
  }


/* loader end (0.22,0.67,0.9,0.65)*/