<div class="wrapper">
    <pre><code>{{ exampleID }}</code></pre>

    <div class="tabsetWrapper"> 

        <!-- Code from Doc start  -->
        <sui-tabset>
            <div class="ui pointing secondary menu">
                <a class="item" suiTabHeader="1">Example</a>
                <!-- <a class="item" suiTabHeader="2">Nested 2</a> -->
            </div>
            <div class="ui inverted segment" suiTabContent="1" [ngStyle]="{'padding-left': '0px'}">    
                <ngx-monaco-editor #editorElement appEditorAutoResizer
                [(ngModel)]="exampleCode" 
                class="editor leftEditor"     
                [options]="readOnlyEditorOptions"
                (onInit)="initializeEditorObject($event)">
                
            </ngx-monaco-editor>
        </div>
        <!-- <div class="ui segment" suiTabContent="2">Second nested tab!</div> -->
    </sui-tabset>
    <!-- Code from Doc end -->
    
    
    <!-- Do it Yourself start  -->
    <sui-tabset *ngIf="tryItYourselfCode">
        <div class="ui pointing secondary menu">
            <a class="item" suiTabHeader="1">Try it Yourself</a>
            <!-- <a class="item" suiTabHeader="2">Nested 2</a> -->
        </div>
        <div class="ui inverted segment" suiTabContent="1" [ngStyle]="{'padding-left': '0px'}">    
            <ngx-monaco-editor #editorElement appEditorAutoResizer
            [(ngModel)]="tryItYourselfCode" 
            class="editor leftEditor"     
            [options]="tryItYourselfEditorOptions"
            (onInit)="initializeEditorObject($event)">
            
        </ngx-monaco-editor>
    </div>
    <!-- <div class="ui segment" suiTabContent="2">Second nested tab!</div> -->
    <!-- interaction elements start -->
    <div class="ui segments">
        <div class="ui segment">
            <div style="float:left">
                <ng-icon name="cssChevronRight" size="1.5em" style="margin-top:1.5em"></ng-icon>
            </div>
            <div class="ui icon input loading callInputForm">
                <input type="text" [(ngModel)]="userCommand" placeholder="foo(bar, baz)">
                <!-- Rotating search icon thing -->
                <!-- <i class="search icon"></i> -->
              </div>
            <button [disabled]="userCommand.length < 1" class="ui big primary button" (click)="collapse = !collapse">
                <ng-icon name="bootstrapPlayFill" size="1.5em"></ng-icon>
            </button>
            <button class="ui big primary button" (click)="resetAll()">
                <ng-icon name="cssSync" size="1.5em"></ng-icon>
            </button>
           
        </div>
        <div class="ui segment">
            <div [suiCollapse]="!collapseResults">
                <div class="ui segment">
                    <h4 class="ui header">Collapsible Panel</h4>
                    <p ngFor="let output of replOutputs">{{output}}</p>
                </div>
            </div>
        </div>
    </div>

    <!-- interaction elements end -->
</sui-tabset>
<!-- Do it Yourself end -->

</div>


</div>

<!-- advice on dynamic rendering: https://www.angularspace.com/using-defer-deferviews-in-angular-17/ -->