<ngx-monaco-editor  [(ngModel)]="contract.code" (ngModelChange)="throttledChange($event)" (onInit)="initializeEditorObject($event)" class="editor" [options]="editorOptions"></ngx-monaco-editor>
<!-- <button (click)="compile()">Compile</button> -->
<log-monitor
    [logStream]="logStream$"
    theme="dark"
    title="Event Log"
    [animated]="true"
    [icons]="true"
    [(history)]="logs" 
    [(ngModel)]="logs"
    
></log-monitor>
<!-- (ngModelChange)="updateMyLogs(logs)" -->
<sui-dimmer [(isDimmed)]="isDimmed" [isClickable]="true">
    <h1 class="ui inverted header">Link copied to clipboard!</h1>
    <br>
    <p style="font-size: 35px">🎉</p>
</sui-dimmer>