<div class="ui top attached inverted demo menu">
    <a class="item blinkOnLoad" (click)="sidebar.toggle()">
        <i class="sidebar icon"></i> Menu
    </a>
</div>

    <sui-sidebar-container id="theSideMenu" class="ui bottom attached segment theSideMenu">
        <sui-sidebar transition="slide along" class="inverted vertical" #sidebar>
                <!-- #oneCon creates a reference to each of the entries this ngFor creates ! -->
            <app-contract-in-left-menu #oneCon style="width:100%; height: auto"
                *ngFor="let oneContract of contracts; let i = index"
                [contract] = "oneContract"
                (mouseover) = "oneCon.onHover()"
                (mouseleave) = "oneCon.unHover()">
                </app-contract-in-left-menu>

            <!-- <div class="contractInLeftMenuWrapper" *ngFor="let savedContract of contracts; let i = index" >
                <div class="contractInLeftMenu" ><a class="item" >{{i}}. {{savedContract.nameInTab}}</a> </div>
            </div> -->
            <!-- reserved for eventual extra stuff<a class="item">2</a> -->
        </sui-sidebar>
        <sui-sidebar-sibling [isDimmedWhenVisible]="false">
            <!-- <div class="ui basic segment"> -->
                

                  

                <sui-tabset>
                    <div class="ui top attached tabular menu">
                        <a *ngFor="let oneContract of contracts; let i = index" (click)=triggerWindowRefresh(5) class="item" suiTabHeader="{{i}}">{{oneContract.nameInTab}}</a>
                        <!-- <a class="item" suiTabHeader="2">Second</a>
                        <a class="item" suiTabHeader="3">Third</a> -->
                    </div>
                    <div *ngFor="let oneContract of contracts; let i = index" class="ui bottom attached segment" suiTabContent="{{i}}">
                        <ngx-monaco-editor [(ngModel)]="contracts[i].code" (ngModelChange)="throttledChange($event)" (onInit)="initializeEditorObject($event)" class="editor" [options]="editorOptions"></ngx-monaco-editor>
                    </div>
                </sui-tabset>


<!--                 <ngx-monaco-editor [(ngModel)]="contracts[0].code" (ngModelChange)="throttledChange($event)" (onInit)="initializeEditorObject($event)" class="editor" [options]="editorOptions"></ngx-monaco-editor>
 -->
           <!--  </div> -->
        </sui-sidebar-sibling>
    </sui-sidebar-container>


<!-- <ngx-monaco-editor [(ngModel)]="contract.code" (ngModelChange)="throttledChange($event)" (onInit)="initializeEditorObject($event)" class="editor" [options]="editorOptions"></ngx-monaco-editor>
 -->

<log-monitor
    [logStream]="logStream$"
    theme="dark"
    title="Event Log"
    [animated]="true"
    [icons]="true"
    [(history)]="logs" 
    [(ngModel)]="logs"
    
></log-monitor>
<!-- (ngModelChange)="updateMyLogs(logs)" -->
<sui-dimmer [(isDimmed)]="isDimmed" [isClickable]="true">
    <h1 class="ui inverted header">Link copied to clipboard!</h1>
    <br>
    <p style="font-size: 35px">🎉</p>
</sui-dimmer>

<div class = "codeGenerator">
<sui-dimmer [(isDimmed)]="codeGeneratorVisible" [isClickable]="false">
        
        <div id="header">
            <!-- <p style="font-size: 35px; display:contents">🎉</p> -->
            <a href="#" id="codeEditorClosingIcon" (click)="closeCodeEditor()" > <i class="close icon"></i> </a> <br>
            <p style="font-size: 35px">🎉</p>
            <h1 class="ui inverted header">Generated Code:</h1> 
            <br>

        </div>
        <ngx-monaco-editor *ngIf="this.generatedCode" id="generatedCodeEditor" [(ngModel)]="this.generatedCode" id="generatedCodeEditor" [options]="generatedCodeEditorOptions" ></ngx-monaco-editor>
        <div class="ui form">
             <div class="field">
            
                <!-- <textarea id="generatedCodeEditor">{{this.generatedCode}}</textarea> -->
        </div>
        </div>

</sui-dimmer>
</div>