<sui id="mockup_SUI-POPUP_7">
	<div id="mockup_DIV_1">
		<!--bindings={ "ng-reflect-ng-if": "true" }-->
		<!---->
<!--bindings={ "ng-reflect-ng-if": "No Wallet detected" }-->
		<div id="mockup_DIV_2">
			No Wallet detected
		</div>
		<div id="mockup_DIV_3">
			&lt;br&gt; Install the Superhero Wallet and use AE Studio with the Aeternity Mainnet !
		</div>
		<div id="mockup_DIV_4">
		</div><!--bindings={ "ng-reflect-ng-if": "true" }-->
		<sui id="mockup_SUI-POPUP-ARROW_5">
			<!--bindings={ "ng-reflect-ng-if": "true" }-->
			<div id="mockup_DIV_6">
			</div><!--bindings={ "ng-reflect-ng-if": "false" }-->
		</sui>
	</div>
</sui>