<ngx-monaco-editor 
    [(ngModel)]="activeContract.code" 
    (ngModelChange)="throttledChange()" 
    (onInit)="initializeEditorObject($event)" 
    class="editor" [options]="editorOptions"></ngx-monaco-editor>


    <sui-dimmer [(isDimmed)]="isDimmed" [isClickable]="true">
        <h1 class="ui inverted header">Link copied to clipboard!</h1>
        <br>
        <p style="font-size: 35px">🎉</p>
    </sui-dimmer>
    
    <div class = "codeGenerator">
    <sui-dimmer [(isDimmed)]="codeGeneratorVisible" [isClickable]="false">
            
            <div id="header">
                <!-- <p style="font-size: 35px; display:contents">🎉</p> -->
                <a href="#" id="codeEditorClosingIcon" (click)="closeCodeEditor()" > <i class="close icon"></i> </a> <br>
                <p style="font-size: 35px">🎉</p>
                <h1 class="ui inverted header">Generated Code:</h1> 
                <br>
    
            </div>
            <ngx-monaco-editor *ngIf="this.generatedCode" id="generatedCodeEditor" [(ngModel)]="this.generatedCode" id="generatedCodeEditor" [options]="generatedCodeEditorOptions" ></ngx-monaco-editor>
            <div class="ui form">
                 <div class="field">
                
                    <!-- <textarea id="generatedCodeEditor">{{this.generatedCode}}</textarea> -->
            </div>
            </div>
    
    </sui-dimmer>
    </div>