<div class="ui segments eventlog">
        <div class="ui segment innereventlog" style="cursor: pointer" (click)="collapse = !collapse">
                <i class="chevron circle right icon" style="margin-left: 5px"></i>
                <p style="display: inline">Event Logs</p>
                <button style="visibility: hidden; display: inline" class="ui primary button" >
                    Toggle Collapse
                </button>
            
        </div>
        <div class="ui segment theLogs">
            <div [suiCollapse]="collapse">
                <div class="ui segment">
                    
            <sui-accordion [transition]="'fade'" [transitionDuration]="300" [closeOthers]="false">

                    
                    <app-one-log *ngFor="let oneLog of logs; let i = index" class="oneLog" [log]="oneLog" [open]="true" ></app-one-log>

                    <!-- <sui-accordion-panel [isDisabled]="false" [isOpen]="false">
                        <div title>
                            <i class="dropdown icon"></i>
                            Disabled Panel
                        </div>
                        <div content>
                            <p>Setting <code>[isDisabled]</code> to <code>true</code> stops the user from being able to toggle the panel.</p>
                        </div>
                    </sui-accordion-panel>
                    <sui-accordion-panel>
                        <div title>
                            <i class="dropdown icon"></i>
                            Final Panel
                        </div>
                        <div content>
                            <p>This is the final panel.</p>
                            <p>Opening this one doesn't affect the others as <code>[closeOthers]</code> is set to <code>false</code>.</p>
                        </div>
                    </sui-accordion-panel>
 -->

                </sui-accordion>
            
                </div>
            </div>
        </div>
    </div>
