:host {
    overflow: hidden;
    overflow-y: auto;
}


.triggerbar{
    border-top: 1px solid #D2D2D3;
}


.stylefix {
    margin-bottom: 0;
}
.active, .collapsible:hover {
    background-color: #555;
  }

  .content {
    
    max-height: fit-content;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    overflow-y: auto;
    min-height:270px;
    max-height:270px;
    transition: all 0.5s linear, width 0.5s linear;
  }

  .content-wrapper {
    padding: 0;
    max-height: unset;
    overflow: hidden;
    background:red
    
    
  }

.consoleMaxSize{
    /* max-height: 50vh; */
    overflow: hidden;
    background: #1e1e1e;
    box-shadow: inset 5px 5px 20px 1px rgb(255 45 85 / 30%);
}



.logMonitorPanel .title.active {
    background: #1d1d1d !important;
}

.logMonitorPanel p {
    color: #d22748;
    display: inline;

}

.logMonitorPanel i {
    color: #d22748;
    display: inline;
}

.eventlog{
    margin: 0px;
    background-color: #131414;
    border-radius: 0px;
    
}

.innereventlog{
    background-color: #131414;
    padding:0px;
}

.expanded .ui.segment{
    background-color: #131414;
    -webkit-box-shadow: inset 5px 5px 20px 1px rgba(255,45,85,0.3);
    -moz-box-shadow: inset 5px 5px 20px 1px rgba(255,45,85,0.3);
    box-shadow: inset 5px 5px 20px 1px rgba(255,45,85,0.3);
}

.expanded .ui.segment{
    border-radius: 0px !important;
}

.innereventlog p, .innereventlog i, .ui.accordion p {
    color: #d4d4d4;
}

.title.active{
    color: #d4d4d4 !important;
}

.ui.accordion {
    margin-left: 12px;
    margin-top: 0px;
}

.theLogs {
    padding: 0px;
}

.secondary.menu{
    margin-bottom: 0px;
}

.ui.segment.tab {
    margin-top: 0px;
}
.scrollbar-dark {
    scrollbar-width: auto;
    scrollbar-color: #424242 #1e1e1e;
}

/* Chrome, Edge, and Safari */
.scrollbar-dark::-webkit-scrollbar {
    width: 13px;
}

.scrollbar-dark::-webkit-scrollbar-track {
    background: #1e1e1e;
}

.scrollbar-dark::-webkit-scrollbar-thumb {
    background-color: #424242;
    border-radius: 0px;
    border: 0px solid #4a4a4a;
}

.contracttab.item.active{
    border-bottom-color: #121212 !important;
}