<div id="logConsole" class="consoleMaxSize">
    <div class="ui segment innereventlog triggerbar" style="cursor: pointer; margin: 0" (click)="toggle()">
        <i class="chevron circle right icon" style="margin-left: 5px"></i>
        <p style="display: inline">Event Logs</p>
        <button style="visibility: hidden; display: inline" class="ui primary button" >
            Toggle Collapse
        </button>
    </div>

        <div class="content scrollbar scrollbar--dark" [style.display]="this.state.consoleOpen ? 'block' : 'none'" >
            <sui-accordion [transition]="'fade'" [transitionDuration]="300" [closeOthers]="false">
                <app-one-log *ngFor="let oneLog of logs; let i = index" class="oneLog" [log]="oneLog" [open]="true" ></app-one-log>
            </sui-accordion>
           
        </div>
</div>