.logMonitorPanel .title.active {
    background: #1d1d1d !important;
}

.logMonitorPanel p {
    color: #d22748;
    display: inline;

}

.logMonitorPanel i {
    color: #d22748;
    display: inline;
}

.eventlog{
    margin: 0px;
    background-color: #131414;
    border-radius: 0px;
    
}

.innereventlog{
    background-color: #131414;
    padding:0px;
}

.expanded .ui.segment{
    background-color: #131414;
    -webkit-box-shadow: inset 5px 5px 20px 1px rgba(255,45,85,0.3);
    -moz-box-shadow: inset 5px 5px 20px 1px rgba(255,45,85,0.3);
    box-shadow: inset 5px 5px 20px 1px rgba(255,45,85,0.3);
}

.expanded .ui.segment{
    border-radius: 0px !important;
}

.innereventlog p, .innereventlog i, .ui.accordion p {
    color: #d4d4d4;
}

.title.active{
    color: #d4d4d4 !important;
}

.ui.accordion {
    margin-left: 12px;
    margin-top: 0px;
}

.theLogs {
    padding: 0px;
}
