/* You can add global styles to this file, and also import other style files */
@import "vendor/semantic.min.css";

.segment {
    
    transition: all 2.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    
}

.segment:hover {
    
    box-shadow: 0 4px 8px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.08)
}


/* tweakings of the semantic UI START*/

.noSideSpace {
    margin-left: 0px !important;
    padding-left: 0px !important;
    margin-right: 0px !important;
    padding-right: 0px !important;
}

/* eliminate white space when shrinking the screen */
@media only screen and (max-width: 1199px) and (min-width: 992px){
    .ui.grid.container{
        width:auto !important;
    }
}
/* eliminate white space when shrinking the screen even further */
@media only screen and (max-width: 991px) and (min-width: 768px){
    .ui.grid.container {
        width: auto !important;
    }
}


/* tweakings of the semantic UI END*/

/* scheiß monaco editor container height */
.editor-container{
    height: 100% !important
}

.aeLoader {
    margin-top: 2em !important;
    display: block;
    margin: auto;
    margin-bottom: 1em;
}

/* Color for units */
.mtk8{
    color:#f2701d !important
}

/* Color for brackets and signs */
.mtk9{
    color:#F9C80E !important
}

/* Let's use this for errors: #EA3546 */

.problematicCodeLine{
    background: rgb(117, 74, 8) !important;
    transition: all 2.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;;
}

.errorMarker{
    background: rgb(187, 13, 71) !important;
    transition: all 2.6s cubic-bezier(0.075, 0.82, 0.165, 1) !important;;
}

.truncate{
    text-overflow: ellipsis
}

/* generated-Code start */

.codeGenerator{
    top: 10px !important;
    vertical-align: top !important;
}

#generatedCodeEditor{
    position: relative !important;
    resize: none !important;
    height:100vh;
    width: 100%;
    text-align: left;
}

#header{
    margin-top: 10% !important;
}

/* generated-Code end */

/* sidebar start */

.atAddressButton {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important
}

.atAddressField{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left: 0px !important;

}

.ui.input input:focus, .ui.input.focus input {
    border-color: #F2711C;
}

/* sidebar end */ 

/* contracts side menu start */

.theSideMenu .ui.basic.segment{
    padding: 0;
}

#theSideMenu {
    height: auto;
    margin: 0;
    border-left: 0;
}


/* contracts sidemenu end */

/* helpers start*/

@-webkit-keyframes orange_blink {
	from { background-color: initial; }
	to { background-color: #F2711C; }
}
@-moz-keyframes orange_blink {
	from { background-color: initial; }
	to { background-color: #F2711C; }
}
@-ms-keyframes orange_blink {
	from { background-color: initial; }
	to { background-color: #F2711C; }
}
@-o-keyframes orange_blink {
	from { background-color: initial; }
	to { background-color: #F2711C; }
}
@keyframes orange_blink {
	from { background-color: initial; }
	to { background-color: #F2711C; }
}

.blinkOnLoad{
    animation-name: orange_blink;
	animation-duration: 0.5s;
	animation-iteration-count: 6;
    animation-direction: alternate;
    animation-delay: 2s;
}
/* helpers end */