<div></div>

<div *ngIf="!auth.theUser">
  <h3>Hello, Guest !</h3>
  <p>Sign up and get personal testnet accounts with AE - it's free!</p>

  <button (click)="auth.googleSignin()" class="ui black button">
    <i class="github icon"></i>
    Connect with Github
  </button>
</div>

<div>
  <div *ngIf="auth.user$ | async">
    <h3>Howdy, {{ auth.theUser?.displayName }}</h3>
    <!--<img  [src]="user.photoURL"> -->
    <!-- <p>UID: {{ auth.theUser?.uid }}</p> -->
  </div>
</div>

<div *ngIf="auth.fillingUpAccounts.active === 'true'">
  <div>
    Looks like it's your first time here - let's create you four accounts with free testnet AE.
  </div>

  <div id="loadingCircle">
    <circle-progress
      [percent]="auth.fillingUpAccounts.percentage"
      [radius]="100"
      [space]="17"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#f1711c'"
      [innerStrokeColor]="'#cf5a0b'"
      [animation]="true"
      [animationDuration]="500"
    ></circle-progress>
  </div>
</div>
<br />
<div *ngIf="auth.user$ | async">
  <button (click)="auth.signOut()" class="ui black button">Sign Out</button>
</div>
